header
    .container__logo
        .container__logo--img
            img(src="", alt="Logo Transport Puga Express SL")
        .container__logo--datos.hidden
            p Teléfono: 678 66 11 73 / 678 66 11 74
            p Email: transcopar@gmail.com
    .container__menu
        .menu__mobile
            .menu__mobile--icon
                img(src="", alt="")
            .menu__mobile--text
                p#seccionMenu
        .menu__desktop