header
    .container__logo
        .container__logo--img
            img(src="../assets/images/Logo.png", alt="Logo Transport Puga Express SL")
        .container__logo--datos
            p Teléfono: 678 66 11 73 / 678 66 11 74
            p Email: transcopar@gmail.com
    .container__menu
        .menu__mobile
            #menuBurger.menu__mobile--icon
                a(href="#")
                    img(src="../assets/icons/icon_menu.png", alt="Icono para desplegar el menú")
            .menu__mobile--text
                p#seccionMenu
            .menu__mobile--network
                a(href=""): img(src="../assets/icons/facebook.svg", alt="Logo Facebook")
                a(href=""): img(src="../assets/icons/instagram.svg", alt="Logo Instagram")
                a(href=""): img(src="../assets/icons/linkedin.svg", alt="Logo Linkedin")
                a(href=""): img(src="../assets/icons/twitter.svg", alt="Logo Twitter")
        .menu__desktop
            a(href="index.html") Home
            a(href="servicios.html") Servicios
            a(href="flota.html") Flota
            a(href="contacto.html") Contacto
            a(href="preguntas.html") Preguntas
    #menuItem.hidden
        a(href="index.html") Home
        a(href="servicios.html") Servicios
        a(href="flota.html") Flota
        a(href="contacto.html") Contacto
        a(href="preguntas.html") Preguntas