mixin cajaServicio(imagen,titulo,contenido)
    .cajaServicio
        h3.cajaServicio__title= titulo
        .cajaServicio__imagen: img(src="../assets/images/" + imagen, alt="Imagen de prueba para practicar")
        .cajaServicio__contenido
            p.cajaServicio__contenido--text= contenido
            //button.servicioButton Saber mas