// Variables
$color-primario: #000;
$color-secundario: #7E0C0C;
$color-claro: #ebebeb;
$Fuente1: 'Mulish', sans-serif;
$Fuente2: 'Oswald', sans-serif;

// Mixins
@mixin titulos($fuente) {
	@if $fuente ==$Fuente1 {
		font-family: $Fuente1;
	} @else {
		font-family: $Fuente2;
		text-transform: uppercase;
		font-weight: 600;
	}
}
@mixin shadows($color,$opacity) {
	$color: cambiarColor($color,$opacity);
	box-shadow: 0px 20px 33px 0px $color;
}

@function cambiarColor($color,$opacity) {
    $color: rgba($color,$opacity);
    @return $color;
}
@mixin degradados($angulo,$color1,$alpha1,$color2,$alpha2) {
    $color1: cambiarColor($color1,0.9);
    $color2: cambiarColor($color2,0.9);
    background: linear-gradient($angulo, $color1 $alpha1, $color2 $alpha2);
}

// Fuente Responsiva
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;
}

// Funciones
@each $header, $size in (h1: 30px, h2: 25px, h3: 20px, h4: 16px) {
    #{$header} {
        @include font-size($size);
        @include titulos($Fuente2);
        margin: 0;
    }
}

// Etiquetas
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $color-claro;
    background-color: $color-primario;
    @include titulos($Fuente1);
    @include font-size(16px);
    @include media(desktop-s) {
        background-image: url(../assets/images/bgPuga.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

main {
    position: relative;
    top: 125px;
    @include media(desktop-s) {
        top: 0;
    }
}

.container__bnt {
    width: 200px;
    margin: 15px auto;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid $color-claro;
    border-radius: 5px;
    color: $color-claro;
    background-color: $color-primario;
    $color-shadow: cambiarColor($color-claro,0.8);
    box-shadow: 2px 3px 10px 0px $color-shadow;
    &:hover {
        padding: 5.5px 0;
        width: 190px;
        box-shadow: none;
        @include font-size(15px);
    }
}

.modalContacto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
    @include media(tablet-s) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.formContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 20px 10px;
    color:$color-claro;
    background-color: $color-primario;
    overflow-y: scroll;
    .container__logo--img {
        margin: 0 auto;
    }
    .campos {
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-claro;
        background: none;
        &--contacto {
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid $color-claro;
                background: none;
            }
        }
    }
    textarea {
        width: 100%;
        min-height: 100px;
        resize: none;
    }
    .acciones {
        display: flex;
        justify-content: space-between;
    }
    @include media(tablet-s) {
        max-width: 500px;
        max-height: 450px;
        padding: 25px 35px;
        border-radius: 10px;
        .container__logo--img {
            display: none;
        }
        .campos {
            &--contacto {
                display: flex;
                justify-content: space-between;
                input {
                    width: 49%;
                }
            }
        }
    }
}
.thxText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    @include font-size(22px);
    p {
        text-align: justify;
    }
    button {
        display: inline;
        margin: 15px;
        padding: 10px 25px;
    }
}

.construccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    padding: 10px;
    background-image: url(../assets/images/bgPuga.png);
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 300px;
        margin-bottom: 20px;
        object-fit: contain;
    }
    p {
        width: 300px;
        text-align: justify;
    }
    @include media(tablet-s) {
        img {
            width: 400px;
        }
        p {
            width: 350px;
        }
    }
}
.hidden {
    display: none;
}