header {
    position: fixed;
    width: 100%;
    height: 125px;
    background-image: url(../assets/images/bgPuga.png);
    background-repeat: no-repeat;
    background-size: cover;
    //overflow: hidden;
    z-index: 1;
    @include media(desktop-s) {
        position: relative;
        background-image: none;
    }
}

.container__logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    &--img {
        width: 300px;
        img{
            width: 100%;
        }
    }
    &--datos {
        display: none;
    }
    @include media(tablet-s) {
        justify-content: space-between;
        &--datos {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
                margin: 6px;
            }
        }
    }
}

.container__menu {
    .menu__mobile {
        display: flex;
        width: 100%;
        background-color: $color-primario;
        &--icon {
            width: 34px;
            padding: 2px;
            border-right: 1px solid $color-claro;
        }
        &--text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            p {
                margin: 0;
                font-weight: bold;
            }
        }
        &--network {
            display: none;
        }
        @include media(tablet-s) {
            justify-content: space-between;
            &--network {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 180px;
                margin: 0;
                padding-right: 10px;
                a {
                    img {
                        width: 28px;
                    }
                }
            }
        }
        @include media(desktop-s) {
            display: none;
        }
    }
    .menu__desktop {
        display: none;
        @include media(desktop-s) {
            display: flex;
            justify-content: end;
            width: 100%;
            padding-right: 8px;
            a {
                margin: 0 10px;
                color: $color-claro;
                text-transform: uppercase;
                @include font-size(14px);
            }
        }
    }
}

.container__menu--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: $color-primario;
    a {
        margin: 5px 0;
        color: $color-claro;
    }
}