<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Transport Puga Express</title>
  </head>
  <body>
    <header>
      <div class="container__logo">
        <div class="container__logo--img"><img src="" alt="Logo Transport Puga Express SL"></div>
        <div class="container__logo--datos hidden">
          <p>Teléfono: 678 66 11 73 / 678 66 11 74</p>
          <p>Email: transcopar@gmail.com</p>
        </div>
      </div>
      <div class="container__menu">
        <div class="menu__mobile">
          <div class="menu__mobile--icon"><img src="" alt=""></div>
          <div class="menu__mobile--text">
            <p id="seccionMenu"></p>
          </div>
        </div>
        <div class="menu__desktop"></div>
      </div>
    </header>
    <footer class="footer">
      <p>©2022 por TRANSPORT PUGA EXPRESS S.L.</p>
    </footer>
  </body>
</html>