extend components/template.pug
block Content
    main
        .container__aboutwe
            h3.container__aboutwe--title ¿Quienes somos?
            p.container__aboutwe--text Estamos en el sector desde 1995, nuestro equipo compuesto por 10 profesionales le atenderán y estarán siempre dispuestos a realizar su trabajo sin importar la distancia.
            p.container__aboutwe--text Además, nuestros precios económicos y nuestra dedicación al detalle nos hacen únicos y de total confianza, nuestros clientes así lo avalan.
            p.container__aboutwe--text Nuestra flota está preparada para cuando lo necesite contáctenos.
        .container__contacto
            .container__contacto--text
                h3.container__contacto--title ¡Queremos saber de usted!
                p C. Zamora, 130, 18151 Ogíjares, Granada, Spain
                p Teléfonos: 678 66 11 73 / 678 66 11 74
                p Email: transcopar@gmail.com
            .container__contacto--network
                a(href=""): img(src="../assets/icons/facebook.svg", alt="Logo Facebook")
                a(href=""): img(src="../assets/icons/instagram.svg", alt="Logo Instagram")
                a(href=""): img(src="../assets/icons/linkedin.svg", alt="Logo Linkedin")
                a(href=""): img(src="../assets/icons/twitter.svg", alt="Logo Twitter")
            .container__contacto--map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.8374341795798!2d-3.61787438534868!3d37.13278245660836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fb0c8c651487%3A0x43e36c112699c901!2sC.%20Zamora%2C%20130%2C%2018151%20Og%C3%ADjares%2C%20Granada%2C%20Espa%C3%B1a!5e0!3m2!1ses!2spt!4v1647860334266!5m2!1ses!2spt", width="320", height="300", style="border:0;", allowfullscreen="", loading="lazy")