extend components/template.pug
block Content
    main
        .container__hero
            h1.container__hero--title Servicio de Transporte Profesional
            .container__hero--img
                img(src="../assets/images/furgoneta.png", alt="Imagen de furgoneta")
                p.container__hero--text Lo llevamos donde usted necesita
            button.container__bnt Contactanos
        .container__servicios
            h2.container__servicios--title Nuestros Servicios
            p.container__servicios--text TRANSPORT PUGA EXPRESS S.L opera conforme a los más altos estándares de servicio en todo aspecto de nuestro trabajo. Gracias a nuestra enorme flota y profundo conocimiento de las calles de Ogíjares, podemos ofrecerle servicios diversos y especializados que se ajusten a todas sus necesidades. Conozca los servicios que ofrecemos.
            button.container__bnt Servicios
            .container__servicios--boxes
        //.container__comentarios
            h2.container__comentarios--title Nuestros clientes opinan
            #comentBox.container__comentarios--boxes
        .container__contacto
            h3.container__contacto--title ¡Queremos saber de usted!
            p.container__contacto--text C. Zamora, 130, 18151 Ogíjares, Granada, Spain
            p.container__contacto--text Teléfonos: 678 66 11 73 / 678 66 11 74
            p.container__contacto--text Email: transcopar@gmail.com
            .container__contacto--map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.8374341795798!2d-3.61787438534868!3d37.13278245660836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fb0c8c651487%3A0x43e36c112699c901!2sC.%20Zamora%2C%20130%2C%2018151%20Og%C3%ADjares%2C%20Granada%2C%20Espa%C3%B1a!5e0!3m2!1ses!2spt!4v1647860334266!5m2!1ses!2spt", width="320", height="300", style="border:0;", allowfullscreen="", loading="lazy")
            .container__contacto--network
                a(href=""): img(src="../assets/icons/facebook.svg", alt="Logo Facebook")
                a(href=""): img(src="../assets/icons/instagram.svg", alt="Logo Instagram")
                a(href=""): img(src="../assets/icons/linkedin.svg", alt="Logo Linkedin")
                a(href=""): img(src="../assets/icons/twitter.svg", alt="Logo Twitter")