extend components/template.pug
block Content
    main
        #modal.hidden
        .container__hero
            .contenido__hero
                h1.contenido__hero--title Servicio de Transporte Profesional
                .contenido__hero--img
                    img(src="../assets/images/furgoneta.png", alt="Imagen de furgoneta")
                    .contenido__hero--text
                        p.contenido__hero--textInit Lo llevamos donde usted necesita
                        p.contenido__hero--textExtend Somos una empresa especialista en entregas a domicilio, dedicados desde 1995 a la distribución en la provincia de Granada.
                button.container__bnt.contenido__hero--bnt Contactanos
        .container__servicios
            h2.container__servicios--title Nuestros Servicios
            p.container__servicios--text TRANSPORT PUGA EXPRESS S.L opera conforme a los más altos estándares de servicio en todo aspecto de nuestro trabajo. Gracias a nuestra enorme flota y profundo conocimiento de las calles de Ogíjares, podemos ofrecerle servicios diversos y especializados que se ajusten a todas sus necesidades. Conozca los servicios que ofrecemos.
            button.container__bnt Servicios
            .container__servicios--boxes
                +cajaServicio("furgo_fast.png","Servicio Express: en 2h al cliente","Un servicio de entrega rápido que mantiene toda la calidad que caracteriza a nuestros transportes y entregas.")
                +cajaServicio("third_service.jpg","Servicio de logística de terceros","Nuestros servicio se distingue del resto por nuestra consistencia, confiabilidad, comunicación y calidad.")
                +cajaServicio("red_truck.png","Servicio de carga de mercancía","Sabemos que es importante llegar a su destino a tiempo y con comodidad, y eso es lo que le garantizamos.")
        .container__comentarios
            h2.container__comentarios--title Valoraciones
            #comentBox.container__comentarios--boxes
        .container__contacto
            .container__contacto--text
                h3.container__contacto--title ¡Queremos saber de usted!
                p C. Zamora, 130, 18151 Ogíjares, Granada, Spain
                p Teléfonos: 678 66 11 73 / 678 66 11 74
                p Email: transcopar@gmail.com
            .container__contacto--network
                a(href=""): img(src="../assets/icons/facebook.svg", alt="Logo Facebook")
                a(href=""): img(src="../assets/icons/instagram.svg", alt="Logo Instagram")
                a(href=""): img(src="../assets/icons/linkedin.svg", alt="Logo Linkedin")
                a(href=""): img(src="../assets/icons/twitter.svg", alt="Logo Twitter")
            .container__contacto--map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3180.8374341795798!2d-3.61787438534868!3d37.13278245660836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fb0c8c651487%3A0x43e36c112699c901!2sC.%20Zamora%2C%20130%2C%2018151%20Og%C3%ADjares%2C%20Granada%2C%20Espa%C3%B1a!5e0!3m2!1ses!2spt!4v1647860334266!5m2!1ses!2spt", width="320", height="300", style="border:0;", allowfullscreen="", loading="lazy")
    script(type="module", src="../js/firebase/fireConfig.js")
    script(type="module", src="../js/app.js")